section#quote
  .container Growing, yet remaining Lean – the Smart New Corporate Strategy!

section#about
  .container
    .row
      .span6.dim
        h1 About us
        p A company focused in IT &amp; ITES space, CrispyMind acts as a catalyst for your growth. The need of the hour is how to adapt to the rapidly growing business environment and the rules of doing business. Peter Drucker said: &quot;A lot of companies need intellectual skill sets, but they don’t always need them permanently.&quot; Here is where CrispyMind can step in with their intellectual capital on demand! We provide you with an opportunity to tap the external talent pool, be it in execution/implementation support or, as consultants in areas such as Business Development, HR &amp; Legal Policy Management, Healthcare Domain Training and IT Management.
        p We at CrispyMind are professionals and top managers, who have been trained at the best schools and companies and have chosen to pursue projects and mission critical work to bring in new possibilities of growth and innovation in any organization.
      .span6.dim
        h1 Founders
        p Founders are senior professionals and have a collective experience of over 75 years in the business.
        ul
          li Dynamic, Seasoned and Matured group of HealthCare Informatics professionals having experience in MNC’s as well as start ups
          li Experts in administration, workflow, process flow and management across Healthcare organizations
          li Hands on experience in:
            ul
              li Program and Project management
              li Product Design (Product Roadmap Design, Delivery and execution)
              li Technology and Delivery ( Software development life cycle )
              li QA/QC process-Quality Assurance and Control Processes
              li Implementation (Solution configuration, Deployment, Training, Change management and Hand-over to Operations)
              li Channel Partner Management and Business Development
              li Human Resource Management, talent acquisition and talent nurturing
