.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/')
        img(src='/img/logo2.png')
        span Crispymind
      .nav-collapse
        ul.unstyled.nav.pull-right
          li.active: a(href='#home') Home
          li: a(href='#about') About
          li: a(href='#services') Services
          li: a(href='#team') Team
          li: a(href='#contact') Contact
