doctype 5
html
  head
    title Crispymind - Raising Standards
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,300', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/flat-ui.css')
    link(rel='stylesheet', href='/css/style.css')
  body(data-spy='scroll', data-target='.navbar')#home
    block content
    script(src='/js/jquery.min.js')
    //- script(src='/js/jquery.smooth-scroll.min.js')
    script(src='/js/bootstrap.min.js')
    //if lt IE 8
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script
      $(document).ready(function() {
        $('.navbar').scrollspy();
        $('.full').addClass('hidden');
        $('.btn').on('click', function() {
          $('.full').toggleClass('hidden');
          $(this).remove();
        });
        //- $('.navbar a').smoothScroll({easing: 'swing'});
      });

