section#services
  .container
    h2 Services

    h3 Customer Relations, Marketing and Business Strategy
    ul
      li Engage customers through efficient delivery of services and thereby enhance existing customer relationships.
      li New customer acquisitions, business contracts negotiation with existing and new customers.
      li Developing short term, medium term and long term corporate business goals.
      li Mergers, alliances and acquisitions - we provide integration planning and post-merger integration services.
      li Building a strategic plan on the way forward and prepare an annual Budget statement that aligns with the Strategic Plan.
      li Identification of a Sales and Marketing organization, Business/Channel Partners,  to handle the issues of both farming existing accounts as well as hunting for new accounts.
      li Assist senior executives handle potential problems as the organization takes on further growth and fresh initiatives.

    h3 Performance management
    ul
      li Help use Lean efforts to reduce costs, enhance productivity, improve service levels and thereby increase profits and growth.
      li Understanding customer's changing needs, identify opportunities and design specific pricing strategy.
      li Bring-in and sustain a periodic review process using balance score card as a work culture.
      li Address critical challenges and optimize shared services functions.
      li Business Continuity Plans – Conceptualize, Design, Documentation &amp; Testing.
      li Compliances against statutory regulations.

    h3 HR, Training &amp; Executive Coaching/Mentoring
    ul
      li Building HR Processes, Policies and Systems.
      li Compensation review, training and mentoring.
      li Consider the current organization and plan ahead for a suitable organization structure that would be efficient to handle the anticipated growth.
      li Leadership Development:
        ul
          li Assess key leadership strengths and weaknesses
          li Increasing span of control
          li Designing the organizational structure and hierarchy
          li Provide mentoring &amp; coaching support
          li Aligning individual’s development with organization’s vision
      li Identify key resources as leadership back-up and conduct individual development plan through a focused coaching and mentoring activity. This program will address the following:
        ul
          li To assist Executives in identifying and fulfilling to their potential
          li To advance their Job knowledge and skills
          li To support Executives transit into new jobs or roles
          li To set and manage realistic expectations
          li To help in handling crisis and resolving conflicts
      li The Executive Coaching would be done through regular interactions with help from the in-house HR/ER team, listening and analysis sessions, drawing up of Action Plans and review of Action Items for further refinement.

    h3 IT – Software Development &amp; Maintenance
    ul
      li Software Delivery Management-  Managing Software Development, Quality Assurance(grey box testing, security testing and white box testing), DBAs, Production Support, Business Analysis, Program Management, Multi team coordination (onsite and offshore), Setting up support teams to offer round the clock support, Software Requirement Management,
      li Estimation, Execution, Validation, Deployment and Metrics
      li Feature enhancement to existing software, Code Optimization, Database design, Application and Database maintenance. Software Testing and Quality Assurance before deployment to production. Software Project Management and implementation of Software Development Life Cycle (SDLC)
      li Production Server Management, Backup planning process, production environment access and authorization
      li Defining processes, Institutionalize Processes, tailoring processes for specific needs and promoting process groups that govern requirements gathering & definition, design, implementation, test and support activities. Identify process gaps in software delivery, influencing and implementing of process changes and compliance audits
      li White papers on emerging business opportunities, Process framework, Pre sales and Proof of concepts
      li Healthcare domain consultation and training

    h3 Healthcare Domain Training
    p The trend in healthcare vertical with an enhanced focus on patient health record in the developed countries is very encouraging. India will also see a wide implementation of Electronic Health Records in the years to come. A sound understanding of the current state of healthcare, problems and opportunities will give the right perspective to IT and ITES professionals to join the vertical and bridge the knowledge gap. Knowledge of provider space (doctor) combined with payers (health insurance) covers the core spectrum of healthcare and is very essential for the professionals focused on providing healthcare software products and/or related services.
    p CrispyMind offers well designed courses on many healthcare domain topics including
      ul
        li Healthcare Training for the Payerside: Insurance sector, Federal Govt and Private health plans, Complexity of payer side transactions, HIPAA and Health Information Security and the information ex
        li Healthcare Training for the Providerside: From the time a patient enters a clinic/hospital until an insurance claim is filed
        li Healthcare Training for Software Testers: Software tester’s perspectives and must have information about various keywords of the healthcare industry
        li Healthcare Comprehensive: From patient entering a hospital until a claim is paid
      p In addition to the above, CrispyMind provides trainings on healthcare interoperability and ICD 9 to 10 migration assistance

    h3 Human Resource Management Services And Softskill Development
    p ITES setups have a huge attrition problem. Finding the right candidates and equipping them with appropriate skills is time consuming and expensive. CrispyMind offers comprehensive trainings for candidates aiming towards ITES.
      ul
        li Business English: By analyzing the gap between current skills of the person and the industry need we measure the readiness of the person. Depending on the results we orient the candidate to relevant training programs in business English
        li Email Etiquette:  This is a very important skill which is already lacking and further spoilt by SMS culture and has to be given highest importance. We provide Email etiquette training backed by abundant practical exposure to good email writing
        li Leadership: To think as a leader and accepting this path of life requires orientation and practice. We provide the frameworks required for resources to think as leaders and not just employees
        li Security and Confidentiality training: Business Process Outsourcing is not possible without trust. Security and Confidentiality are the foremost traits to be exhibited by winning teams. Our training specifically drives this point.
        li Process Training: Process Training are focused on maximizing productivity and reducing error rates significantly and are tailored based on organization’s needs
        li BPO Industry / Tele Marketing: Systematic introduction to BPO industry, opportunities career and growth in BPO.
        li Resource Evaluation: Resource Evaluation on a 10 point( to be defined) scale to ensure quality and trained resources are available for selection.

    h3 Healthcare IT Services and Software Testing Services for Healthcare IT Products
    p Healthcare IT faces a great shortage of resources trained in the domain. This need is more prominently seen on the software testing side for the reason that the products have to be thoroughly tested for functionality which is viewed from an end user perspective namely hospital staff in this case. Shortage of testing resources who are equipped with adequate functional knowledge. CrispyMind conducts healthcare domain training for the Software professionals addressing specifically the need of Software QA.

    h3 Healthcare IT Training for Hospital Staff
    p Hospitals are equipped with application software to capture various data such as patient information and billing. However, not all the staff are equally conversant with the features and operational workflows. CrispyMind trains the staff on the hospital IT environment and familiarizes them with international standards such as medical coding and their practical usage in their  operational workflows.

    h3 Healthcare IT training for Medical Students
    p CrispyMind provides healthcare IT training customized for Medical students. This training focuses on health insurance, software associated with hospitals and clinical workflow, integration between systems, medical coding and database management in healthcare.

    h3 Healthcare domain training for Student Software Professionals
    p Student software professionals who wish to focus on healthcare will gain from a strong foundational course on healthcare basics and IT in healthcare. This will cover the breadth of healthcare and healthcare IT and equip them with adequate knowledge to develop and test healthcare focused applications.
