$fontSize         = 1em
$lineHeight       = 1.5em
$bodyFontFamily   = 'Open Sans', 'Segoe UI', sans-serif
$headerFontFamily = 'Raleway', sans-serif
$backgroundColor  = #f8f8f8

body
  margin-top 90px
  font $fontSize/$lineHeight $bodyFontFamily
  background-color $backgroundColor

h1, h2, h3, h4, h5, h6
  font-family $headerFontFamily
  color #033649
  line-height 1.1em
  font-weight 200

h1
  font-size 2.6em

p
  margin-bottom 20px
  text-align justify

li
  line-height $lineHeight

a
  text-decoration none

.navbar
  font-family $headerFontFamily

  .nav li > a
    font-weight 200

  .brand
    font-weight 200
    padding 5px 0
    color #dddddd
    text-transform uppercase

    img
      width 48px
      height 48px
      border-radius 48px
      border 1px solid #999
    span
      vertical-align middle
      margin-left 8px
      font-size 1.4em
    
.navbar-inverse
  .brand
    border none

  .nav.pull-right > li > a
    border-radius 0
    border none
    font-size 1.2em

  .nav > li.active > a
    &, &:hover, &:focus
      background-color transparent
      border none
      padding-left 20px
      color #bbbbbb

.navbar-fixed-top
  .navbar-inner
    box-shadow none

  .container
    padding 15px

section
  padding 90px 0

  &:nth-child(2n+1)
    color #fff
    background-color #27ae60
    h1, h2, h3, h4, h5, h6
      color #2c3e50

  &#contact
    padding 0 0

  &#quote
    padding 255px 0
    background-color #F39C12

    div
      text-align center
      font-size 2em
      font-family $headerFontFamily

img.profile
  box-shadow 0 0 5px #ccc
  width 180px
  height 180px
  border-radius 100px
  transition all 0.2s ease-out

  &:hover
    border-radius 0

.well.well-large
  min-height 430px
  color #333
  h3
    text-shadow 1px 1px 0 #FFF
    color #033649

.hidden
  display none

@media (max-width: 979px)
  body
    padding-top 0

  .navbar-fixed-top
    margin-bottom 0

@media (max-width: 767px)
  section
    margin 0 -20px
    padding 60px 30px

    &#contact .container
      padding 0 30px
