body {
  font: 1em/1.5em 'Open Sans', 'Segoe UI', sans-serif;
  background-color: #f8f8f8;
  margin-top: 103px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: #033649;
  line-height: 1.1em;
  font-weight: 200;
}
h1 {
  font-size: 2.6em;
}
p {
  margin-bottom: 20px;
  text-align: justify;
}
li {
  line-height: 1.5em;
}
a {
  text-decoration: none;
}
.navbar {
  font-family: 'Raleway', sans-serif;
}
.navbar a {
  font-size: 1.2em;
}
.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
  background-color: transparent;
  border: none;
  color: #fff;
  box-shadow: none;
}
.navbar .nav {
  margin: 20px 0;
}
.navbar .navbar-inner {
  background: none;
  background-color: #2c3e50;
  border-bottom: 3px solid #e67e22;
  box-shadow: none;
}
.navbar .container {
  padding: 15px;
}
.navbar .btn-navbar {
  background: none;
  text-shadow: none;
  box-shadow: none;
  margin-top: 21px;
}
.navbar .brand img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 1px solid #999;
}
.navbar .brand span {
  vertical-align: middle;
  margin-left: 8px;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #ddd;
}
section {
  padding: 40px 0;
}
section:nth-child(2n+1) {
  color: #2c3e50;
  background-color: #f3f3f3;
}
section:nth-child(2n+1) h1,
section:nth-child(2n+1) h2,
section:nth-child(2n+1) h3,
section:nth-child(2n+1) h4,
section:nth-child(2n+1) h5,
section:nth-child(2n+1) h6 {
  color: #2c3e50;
}
section article {
  padding: 10px;
}
section#about p,
section#about li {
  font-size: 0.9em;
}
section#contact {
  padding: 0 0;
}
section#quote {
  padding: 80px 0;
}
section#quote div {
  font: 2em/1.2em 'Raleway', sans-serif;
  text-align: center;
}
img.profile {
  box-shadow: 0 0 5px #ccc;
  width: 180px;
  height: 180px;
  border-radius: 100px;
  transition: all 0.3s ease-out;
}
img.profile:hover {
  border-radius: 0;
}
.well.well-large {
  min-height: 420px;
  color: #333;
  text-align: center;
}
.well.well-large h3 {
  text-shadow: 1px 1px 0 #fff;
  color: #033649;
  margin-top: 10px;
}
.hidden {
  display: none;
}
@media (max-width: 979px) {
  body {
    margin-top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  section#quote div {
    font-size: 1.5em;
  }
}
@media (max-width: 767px) {
  section {
    margin: 0 -20px;
    padding: 30px;
  }
  section#quote div {
    font-size: 1.5em;
  }
  section#contact .container {
    padding: 0 30px;
  }
}
