$fontSize         = 1em
$lineHeight       = 1.5em
$bodyFontFamily   = 'Open Sans', 'Segoe UI', sans-serif
$headerFontFamily = 'Raleway', sans-serif
$backgroundColor  = #f8f8f8
$backgroundColor2 = darken($backgroundColor, 2%)

body
  font $fontSize/$lineHeight $bodyFontFamily
  background-color $backgroundColor
  margin-top 103px

h1, h2, h3, h4, h5, h6
  font-family $headerFontFamily
  color #033649
  line-height 1.1em
  font-weight 200

h1
  font-size 2.6em

p
  margin-bottom 20px
  text-align justify

li
  line-height $lineHeight

a
  text-decoration none

.navbar
  font-family $headerFontFamily

  a
    font-size 1.2em

  .nav > li.active > a
    &, &:hover, &:focus
      background-color transparent
      border none
      color #ffffff
      box-shadow none

  .nav
    margin 20px 0

  .navbar-inner
    background none
    background-color #2C3E50
    border-bottom 3px solid #E67E22
    box-shadow none

  .container
    padding 15px

  .btn-navbar
    background none
    text-shadow none
    box-shadow none
    margin-top 21px

  .brand
    img
      width 48px
      height 48px
      border-radius 48px
      border 1px solid #999

    span
      vertical-align middle
      margin-left 8px
      font-size 1.4em
      text-transform uppercase
      color #dddddd

section
  padding 40px 0

  &:nth-child(2n+1)
    color #2c3e50
    background-color $backgroundColor2
    h1, h2, h3, h4, h5, h6
      color #2c3e50

  article
    padding 10px

  &#about
    p, li
      font-size 0.9em

  &#contact
    padding 0 0

  &#quote
    padding 80px 0

    div
      font 2em/1.2em $headerFontFamily
      text-align center

img.profile
  box-shadow 0 0 5px #ccc
  width 180px
  height 180px
  border-radius 100px
  transition all 0.3s ease-out

  &:hover
    border-radius 0

.well.well-large
  min-height 420px
  color #333
  text-align center

  h3
    text-shadow 1px 1px 0 #FFF
    color #033649
    margin-top 10px

.hidden
  display none

@media (max-width: 979px)
  body
    margin-top 0

  .navbar-fixed-top
    margin-bottom 0

@media (min-width: 768px) and (max-width: 979px)
  section
    &#quote
      div
        font-size 1.5em

@media (max-width: 767px)
  section
    margin 0 -20px
    padding 30px

    &#quote
      div
        font-size 1.5em

    &#contact .container
      padding 0 30px
